<div class="footer-copyright text-center py-4 white">
  <div class="footer-container">
    <div class="location-info">
      <p>
       
        <strong>Address:</strong> 405 Grange Street, Brooklyn NY <br/><strong>phone:</strong>
        867-374-5543 <br/><strong>Hours:</strong> Everyday 11am - 2am<br/>
        <strong>Email:</strong> contact@burgerbar.com
      </p>
    </div>
    </p>© 2020 Copyright: Burger Bar</p>
  </div>
</div>
