<div class="footer-copyright text-center py-4 white">
  <div class="footer-container">
    <div class="location-info">
      <p><strong>Contact Us</strong><br>
        <strong class="alt-color">Address:</strong> 405 Grange Street, Brooklyn NY <br /><strong class="alt-color"
          >Phone:</strong
        >
        867-374-5543 <br /><strong class="alt-color">Hours:</strong class="alt-color"> Everyday 11am - 2am<br />
        <strong class="alt-color">Email:</strong> contact@burgerbar.com
      </p>
    </div>
    <!-- </p >© 2020 Copyright: Burger Bar</p> -->
  </div>
</div>
