<div class="navbar">
  <div class="container">
    <div class="title-box">
      <i class="fas fa-hamburger fa-2x"></i>
      <a href="../"><h2 class="nav-title">BURGER BAR</h2></a>
     
    </div>
   
    <i id="dropdown-menu" class="fas fa-bars fa-2x"></i>
    <div class="full-nav-bar">
      <ul>
        <li ><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/order">Order</a></li>
        <%if (userId) {%>
        <%if (isOwner) {%>
        <li><a href="/kitchen">Kitchen</a></li>
        
        <%}%>
        <li><a id="logout-btn" class="logout-btn text-dark btn-warning fadeIn" href="/logout">Logout</a></li>
        <%} else {%>
          <li><a id="logout-btn" class="logout-btn text-dark btn-warning fadeIn" href="/login">Login</a></li>
          <%}%>
      </ul>
      </div>
  </div>

</div>
<footer>
  <div class="drop-down">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/menu">Menu</a></li>
      <li><a href="/order">Order</a></li>
      <%if (userId) {%>
      <%if (isOwner) {%>
      <li><a href="/kitchen">Kitchen</a></li>
      <%}%>
      <li><a href="/logout">Logout</a></li>
      <%} else {%>
        <li><a href="/login">Login</a></li>
        <%}%>
    </ul>
  </div>
</footer>
