<header>
  <div class="navbar">
    <div class="container">
      <div class="title-box">
        <i class="fas fa-hamburger fa-2x"></i>
        <h2 class="nav-title">BURGER BAR</h2>
      </div>
      <i class="fas fa-bars fa-2x"></i>
    </div>
  </div>
</header>
