<div class="navbar">
  <div class="container">
    <div class="title-box">
      <i class="fas fa-hamburger fa-2x"></i>
      <h2 class="nav-title">BURGER BAR</h2>
    </div>
    <i id="dropdown-menu" class="fas fa-bars fa-2x"></i>
  </div>
</div>
<footer>
  <div class="drop-down">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/menu">Menu</a></li>
      <li><a href="/login">Order</a></li>
    </ul>
  </div>
</footer>
