<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/about.css" type="text/css" />
    <script
      src="https://kit.fontawesome.com/93be37909b.js"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <title>Burger Bar || About</title>
  </head>

  <body>
    <header><%- include('./partials/_navbar'); %></header>

    <main>
      <div class="container">
        <!-- // NOTE TO SELF - DL this bg image and add/link to img folder -->
        <div class="img-container">
          <div class="flex-text-container">
            <h4>About Us</h4>
            <p>
              <strong>BURGER BAR</strong> is the love child three best friends who all share a love for food. Especially burgers... Charbroiled burgers!!
              <br /><br />
              <strong>Mike</strong>, <strong>Ariel</strong>, and <strong>Richard</strong> all met in their first year of college and
              quickly set out to find the best burger in town. Every Saturday,
              they would try a new burger spot, searching for that perfect
              combination of ingredients and flavour. After dozens of burgers coming up short, they figured they would have to create the perfect burger themselves. This is the origin of Burger Bar.
             Every burger is charbroiled to perfection and made
              with locally sourced ingredients. After 10 years of business and numerous accolades, you can trust that Burger Bar will deliver
              on providing you the best tasting burger you have ever had. <br/><br/> Come dine in our cozy bar or <a>order online</a> for pickup. 
            </p>
          </div>
            <img
              src="https://images.unsplash.com/photo-1470784790053-6c2f15489967?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1482&q=80"
              alt="chefs hanging out"
            />
            
          </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
