<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <script src="https://kit.fontawesome.com/93be37909b.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <title>Burger Bar</title>
  </head>

  <body>
    <header>
    <%- include('./partials/_navbar'); %>
    </header>

    <main>
      <div class="hero">
        <div class="content">
          <h1>Homemade Charbroiled Burgers</h1>
          <div class="btn-container">
          <a href="/menu" class="btn btn-light">Menu</a>
            <a href="/order" class="btn btn-light">Order</a>
            </div>
           
        </div>
        </div>
      </div>
    </main>
  </body>
</html>
