<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css">
    <link rel="stylesheet" href="/styles/login-register.css" type="text/css" />
    <script src="https://kit.fontawesome.com/93be37909b.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <title>Burger Bar || Create Account</title>
  </head>

  <body>
    <header>
    <%- include('./partials/_navbar'); %>
    </header>

    <main>
      <div class="hero">
        <div class="content">
          <h1>We Love New Friends!</h1>
          <div class="wrapper">
            <div id="formContent">
              <!-- Tabs Titles -->

              <!-- Icon -->
             <div class="user-container">
               <i class="fas fa-user fa-2x"></i>
               <p>Create Account</p>
             </div>


              <!-- Login Form -->
              <form class="register">
                <input type="firstname" id="first-name" class="input-box form-control " name="firstName" placeholder="first name">
                <input type="lastname" id="lastname" class="input-box form-control " name="lastName" placeholder="last name">
                <input type="email" id="email" class="input-box form-control" name="email" placeholder="email">
                <input type="phone" id="phone" class="input-box form-control" name="phone" placeholder="cell phone (sms)">
                <input type="password" id="password" class="input-box form-control" name="password" placeholder="password">
                <input type="submit" class="btn btn-light fadeIn" value="Submit">
              </form>
            </div>
          </div>
        </div>
        </div>
      </div>
    </main>
    <footer><%- include('./partials/_footer'); %></footer>
  </body>
</html>
