body {
  line-height: 25px;
  background-color: lightseagreen;
  background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: white;
}

.navbar {
  z-index: 999;
  top: 0;
  width: 100%;
  position: static;
  overflow: hidden;
  background-color: white;
  position: fixed;
  height: 16vh;
  border-bottom: solid 2px #333;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title-box {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      color: #333;
      margin-right: 10px;
      padding-bottom: 8px;
    }
  }

  .nav-title {
    color: #333;

    &:hover {
      cursor: pointer;
      opacity: 80%;
    }
  }

  .fa-bars {
    color: #333;
    &:hover {
      cursor: pointer;
      opacity: 80%;
    }
  }
}

main {
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    width: 100vw;

    .img-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 8vh;
      width: 100%;

      .flex-text-container {
        flex-flow: wrap;
        background-color: rgba(51, 51, 51, 0.9);
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        border: solid #333 3px;
        border-radius: 20px;
        justify-content: space-evenly;
        width: 95%;
        margin: 1.5rem;
        padding: 1rem;

        h4 {
          margin-top: 1rem;
          text-align: center;
          font-weight: 300;
        }

        p {
          align-self: center;
          font-size: 15px;
          text-align: justify;
          color: white;
          padding: 1rem;
          margin: 0.5rem;
        }
      }
      img {
        align-self: center;
        margin: 20px 0 0 0;
        width: 95%;
        height: 100%;
        object-fit: center center/cover;
        flex-grow: 2;
        border-radius: 20px;
        margin-bottom: 30px;
        opacity: 90%;
      }
    }

    .text-box {
      h2 {
        color: #333;
        align-self: center;
        text-align: center;
      }
    }
  }
}
