main {
  .page-container {
    display: flex;
    flex-direction: column;
    margin-top: 18vh;
    margin-bottom: 5vh;
    height: 100%;
    width: 90vw;

    .ready {
      background-color: goldenrod;
    }

    .invisible {
      visibility: hidden;
    }

    section {
      border: 2px solid black;
      p {
        margin: 0;
      }
    }

  }
}
