* {
  padding: 0;
  margin: 0;
}

.navbar {
  z-index: 999;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: white;
  position: fixed;
  height: 16vh;
  padding: 0;
  align-items: center;


}

.container {
  display: flex;
  justify-content: space-between;
  margin:auto;
 
  .full-nav-bar{
display: none;
  }

  .title-box {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      color: rgb(224, 157, 0);
      margin-right: 10px;
      padding-bottom: 11px;
    }
  }

  .nav-title {
    color: #333;

    &:hover {
      cursor: pointer;
      opacity: 80%;
    }

    h2{
      margin-bottom: 6px;
    }
  }

  .fa-bars {
    color: #333;
   padding-bottom: 8px;
    &:hover {
      cursor: pointer;
      color: rgb(224, 157, 0);
      opacity: 80%;
    }
  }
}

.drop-down {
  display: none;
  top: 16vh;
  position: fixed;
  background-color:  rgb(224, 157, 0);
  width: 100%;
  text-align: center;
  padding: 10px;


  ul {
    list-style-type: none;

    li {
      padding: 10px;
      margin: 10px;
      border-bottom: solid 1px white;

      a {
        font-size: 1.3rem;
        color: white;
      }
    }
  }
}

.text-dark {
  color: #333;
  font-weight: 400;
  
}

.footer-copyright {
  margin-top: 18vh;
  background-color: white;
  color: #333;
}


// Order Confirmation Page

.container-fluid{
  margin-top: 18vh;
  color:white;
  text-align: center;
}

.confirmation-wrapper{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(169, 169, 169, 0.9));
  width: 100vw;
  margin: 0 auto;;
  padding: 10px;
 
  .wrapper{
   display: flex;
   flex-direction: column;
    padding: 5px;
    margin: 30px 15px;
    width: 100%;
    
    .btn{
      align-self: center;
      margin: 10px auto 30px auto;
      display: block;
    }

  }

  .clear{
    background-color: transparent;
    a{
      text-align: center;
      margin: auto;
    }
  }

 .form-group{
   margin: auto;
   text-align: center;
   width: 80vw;
 }
  input{
    height: 7rem;
    width: 80%;
    margin: auto;
    overflow-wrap: inherit;
  }
  h4{
    color: #333;
    align-self: center;
    padding-top: 5px;
    padding-bottom: 5px;

  }

.confirmation-table{
  
  align-items: center;
  background-color: rgba(224, 157, 0, 0.7);
  width: 90vw;
  margin: auto;
  text-align: justify;
  


 .table-responsive{
   
 margin: auto;
  padding: 40px;
  width: 90vw;
  border-collapse: collapse;
 }

 table, th, td {
   
  border-bottom: 1px solid black;
}

  

  h1{
    color:white;
  }

  tr{
    margin: 5px;
    padding: 5px;
    
  }

  td{
    
padding:5px;
  }
  thead{
    th{
      padding:10px;
          }
  }
  tfoot{
    th{
      padding:10px;
    }
  }
}

}


//Footer Layout

.footer-copyright {
  margin-top: 5vh;
  padding-top: 1vh;
  background-color: white;
  color: #333;

  p{
    margin-top:20px;
  }
}

//override style on h1
.h1-overide{
  color: white;
  padding: 3rem;
      text-align: center;
      font-size: 2.5rem;
}
//overide for text on menu page.
.menu-item{text-align: justify}


// Changes orders/menu to flex columns on small devices

@media only screen and (max-width: 475px) {
  .container .title-box p {
  display: none;
  }

  main .menu-container .menu-item img{
   
    margin: 10px auto;
  }

  main .hero .content .btn-container .btn {
    display: block;
  }
.menu-item  {
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;


.flex-wrapper{
  flex-direction: column;
}
.container-fluid{
  flex-direction: column;
}
  }

  .mr-5{
    margin-right: 0;
  }

  .wrapper{
    margin: 10px;
  }
 
}

//Small Devices - Adds Hamburger/Drop Down to Nav and changes flex direction to column.

@media only screen and (min-width: 780px){
  .container .fa-bars{
  display: none;
  }

 .container .full-nav-bar{
display: flex;

ul{
  display: flex;
  list-style-type: none;

a{
  font-size: 18px;
  color:#333;
  padding: 0 14px;

  &:hover{
    color: rgb(224, 157, 0);
    text-decoration: none;
  }
}

  li{
margin-top: 10px;

  }
  
}
 
  }

  .drop-down{
  display: none;
  }


}