* {
  padding: 0;
  margin: 0;
}

.navbar {
  z-index: 999;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: white;
  position: fixed;
  height: 16vh;
  padding: 0;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  margin:auto;
 


  .title-box {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      color: rgb(224, 157, 0);
      margin-right: 10px;
      padding-bottom: 11px;
    }
  }

  .nav-title {
    color: #333;

    &:hover {
      cursor: pointer;
      opacity: 80%;
    }

    h2{
      margin-bottom: 6px;
    }
  }

  .fa-bars {
    color: #333;
   padding-bottom: 8px;
    &:hover {
      cursor: pointer;
      opacity: 80%;
    }
  }
}

.drop-down {
  display: none;
  top: 16vh;
  position: fixed;
  color: white;
  background-color: rgba(51, 51, 51, 0.9);
  width: 100%;
  text-align: center;
  padding: 10px;

  hr {
    color: white;
    background-color: white;
  }
  ul {
    list-style-type: none;

    li {
      padding: 10px;
      margin: 10px;
      border-bottom: solid 1px white;

      a {
        font-size: 1.3rem;
        color: white;
      }
    }
  }
}

.text-dark {
  color: #333;
  font-weight: 400;
}

.footer-copyright {
  margin-top: 18vh;
  background-color: white;
  color: #333;
}


// Order Confirmation Page

.confirmation-wrapper{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(169, 169, 169, 0.9));
  width: 90vw;
  margin: auto;
  padding: 10px;
  border-radius: 10px;

  .wrapper{
    flex-shrink: 4;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 15px;
    width: 100%;
    
    .btn{
      align-self: center;
      margin: auto;
      display: block;
    }
    a{
      margin-top: 20px;
      text-align: center;
      
    }
 
   
  }

  .clear{
    background-color: transparent;
  }
 


 .form-group{
   text-align: center;
   width: 40vw;
 }
  input{
    height: 7rem;
    width: 80%;
    margin: auto;
    overflow-wrap: inherit;
  }
  h4{
    color: #333;
    align-self: center;
    padding-top: 5px;
    padding-bottom: 5px;

  }
.confirmation-table{
  background-color: white;
  width: 80vw;
  margin: auto;
  text-align: justify;
  
 table{
  overflow-x:auto;
 }
  

  h1{
    color:white;
  }

  tr{
    margin: 5px;
    padding: 15px;
  }

  td{
padding:15px;
  }
  thead{
    th{
      padding:15px;
          }
  }
  tfoot{
    th{
      padding:15px;
    }
  }
}
}


//Footer Layout

.footer-copyright {
  margin-top: 18vh;
  background-color: white;
  color: #333;
}

@media only screen and (max-width: 475px) {
  .container .title-box i {
 display:none;
  }

  main .hero .content .btn-container .btn {
    display: block;
  }
  body {
    background-color: lightblue;
  }
}
