body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1487088678257-3a541e6e3922?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80"),
    no-repeat center center/cover;
  color: #333;
}

main {
  .menu-container {
    display: flex;
    flex-direction: column;
    margin-top: 18vh;
    margin-bottom: 5vh;
    height: 100%;
    width: 90vw;

    h1 {
      color: white;
      text-align: center;
      font-size: 3rem;
    }
    .menu-item {
      justify-content: center;
      align-items: center;
      margin: 10px 0;
      border: solid 2px #333;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.97);

      p {
        padding: 10px 0;
      }
      .media-body {
        margin-top: 20px;
      }
      img {
        margin-left: 10px;
        border-radius: 10px;
      }
    }
  }
}
